.cursorMain {
  --size: 0px;
  /* default size on smaller screens */
  position: fixed;
  pointer-events: none;

  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  pointer-events: none;
  z-index: 99;
  background-color: var(--accentColor);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-out, height 0.3s ease-out, border-radius 0.3s ease-out;
  will-change: transform;
}

/* When hovering over data-cursor="icons" elements */
.cursorIcons {
  --size: auto;
}

/* data-cursor="disable" -> hide the cursor */
.cursorDisable {
  --size: 0px;
}

/* Larger default cursor on bigger screens */
@media (min-width: 600px) {
  .cursorMain {
    --size: 50px;
  }

  .cursorDisable {
    --size: 0px;
  }
}