.infoContainer {
    position: relative;
}

.infoContainer h3 {
    margin: 5rem 0 0;
    font-size: 2rem;
    font-weight: 200;
    color: var(--accentColor);
}

.infoSwap {
    position: relative;
    display: inline-block;
    margin: -0.5rem -0.2rem 0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.8;
    color: var(--accentColor);
    overflow: hidden;
    z-index: -1;
    min-width: max-content;
    /* Ensures the container is as wide as the longest word */
}

.swapBottom {
    position: absolute;
    top: 0rem;
}

.infoSwapAlt {
    margin: 0 3rem 0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.5;
    color: #ffffff;
    z-index: 1;
    pointer-events: none;
    position: relative;
    transform: translateY(-0.3rem);
}

.swapAltBottom {
    position: absolute;
    top: 0rem;
}

/* The gradient fade on the bottom of the top text */
.infoSwap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: 40%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 40%,
            rgba(0, 0, 0, 0.9) 70%,
            var(--backgroundColor) 100%);
    pointer-events: none;
    z-index: 1;
}

/* Ensure the wrapper sizes to the longer word */
.swapWrapper {
    display: inline-block;
    position: relative;
    width: max-content;
    white-space: nowrap;
    /* Prevents text from wrapping */
}

/* The invisible element forces width without displaying */
.invisibleContent {
    visibility: hidden;
    pointer-events: none;
}