.projects-section h2 {
    margin-top: 100px;
    font-size: 70px;
    font-weight: 500;
}

.projects-section h2>span {
    color: #97fdf7;
}

.projects-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    will-change: transform;
    border-bottom: 1px solid #363636;

}

.projects-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: visible;
    padding-left: 120px;
}

.projects-flex {
    position: relative;
    width: calc(100% + 100px);
    display: flex;
    height: auto;
    margin-left: -80px;
    padding-right: 0;
    will-change: transform;
}

.project-box {
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column;
    width: 600px;
    box-sizing: border-box;
    border-right: 1px solid #363636;
    flex-shrink: 0;
    gap: 50px;
    justify-content: start;
    will-change: transform;
}

.project-box:last-child {
    padding-right: 120px;
}

.projects-flex .project-box:nth-child(even) {
    flex-direction: column-reverse;
}

.projects-flex::before,
.projects-flex::after {
    content: "";
    width: calc(50000vw);
    height: 1px;
    background-color: #363636;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.projects-flex::after {
    top: 100%;
}

.project-title {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.project-title>div {
    text-align: right;
}

.project-title h3 {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    font-weight: 600;
    color: #97fdf7;
}

.project-info h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
}

.project-info p {
    font-weight: 200;
    color: #adacac;
    margin: 0;
    margin-top: 3px;
}

.project-info>p {
    width: 90%;
}

.project-image {
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-image-in {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-image-in:hover {
    transform: scale(1.05);
}

.project-image img {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
}

@media only screen and (max-height: 900px) {
    .project-image img {
        max-height: 250px;
    }

    .project-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .projects-section h2 {
        font-size: 60px;
        margin-bottom: 30px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 1400px) {
    .project-title h3 {
        font-size: 35px;
    }

    .project-info p {
        font-size: 13px;
    }

    .project-info h4 {
        font-size: 15px;
    }

    .project-box {
        width: 450px;
        padding: 50px;
    }

    .projects-flex {
        margin-left: -50px;
        padding-right: 75px;
    }

    .projects-section h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1025px) {
    .project-box {
        width: 350px;
        padding: 30px;
    }

    .projects-flex {
        margin-left: -30px;
        padding-right: 45px;
    }

    .projects-container {
        align-content: normal;
    }

    .projects-flex {
        height: auto;
    }
}

@media only screen and (max-height: 650px) {
    .project-image img {
        max-height: 200px;
    }

    .projects-section h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .project-box {
        gap: 20px;
    }
}